body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background-image: url("./assets/images/background_image_league.jpg") fixed no-repeat;
  // background-color: #0f1e39;
  // background-position: center;
  background: url(./assets/images/background_image_league.jpg) fixed no-repeat;
  background-size: cover;
  background-position: center;
  scroll-behavior: smooth
}
code {
  font-family: roboto, Menlo, Monaco, Consolas, "Courier New", monospace;
}
